@model List<PersonWithSim>


<div class="row">
    <div class="col-md-12">
        <h3>People who like similar films:</h3>
    </div>
</div>

<div class="row">

    @foreach (var person in @Model)
    {
        <div class="col-md-3">
            <div class="card" >
                <img class="card-img-top" src="~/images/img_avatar.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">@person.Username <i> @person.FullName</i></h4>
                    <p class="card-text">Bio: @person.Bio</p>
                    <p class="card-text">Similarity: @person.Similarity</p>
                    <a href="/Account/Profile/@person.Username" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
    }
  
</div>

